* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right top, #000000, #8b0000);
    display: flex; /* Visar lådan */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FBCA03;
}

h1{
    color: rgb(255, 115, 0);
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
    position: relative;
    left: 210px;
}

h2{
    text-align: center;
}

h2, 
p {
    color: #000000;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #8b0000;
}

.glass {
    height: 100%; /* Hur centrerad området bör vara med relation från top/bot till mitten*/
    background: white;
    width: 85%;
    background: linear-gradient(
        to right bottom,
        rgba(253, 253, 253, 0.541),
        rgba(36, 0, 0, 0.438)
        );
        z-index: 2; /* Pushar stora rutan framått, större nummer ju längre fram kommer den.*/
        backdrop-filter: blur(1rem); /* Lägger till "blurryness */
        display: flex; /*Flexar ut mina element ifrån .dashboard*/
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#button{
    position: relative;
    outline: none;
    height: 53px;
    width: 50px;
    font-size: large;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255,255,255,0.3)
        );
    border-radius: 0 2rem 2rem 0;
    border: none;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
    cursor: pointer;
}

.circle1,.circle2,.circle3,.circle4 {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        to right bottom,
        rgba(61, 0, 0, 0.3),
        rgba(255, 145, 42, 0.5)
        );
        height: 20rem;
        width:  20rem;
        position: absolute; /* Gör så jag kan flytta objektet vart jag vill*/
        border-radius:50%; /* Gör så att kuberna blir till cirklar*/
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 3%;
    left: 12%;
}

.circle3 {
    top: 20%;
    right: 65%;
    height: 15rem;
    width: 15rem;
}
.circle4 {
    top: 60%;
    right: 25%;
    height: 20rem;
    width: 20rem;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-width: 15rem;
    padding: 1rem;
    background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.774),
        rgba(233, 33, 33, 0.144)
        );
}

.link{
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    position: relative;
    /*top: 30%;*/
    left: -75px;
}

.link h2 {
    padding: 0rem 1rem;
    /*color: rgb(255, 115, 0);*/
}

.presslink {
    color: #FBCA03;
}

.pro{
    background: linear-gradient(to right top, #000000, #8b0000);
    border: 1rem;
    position: relative;
    bottom: 177% /*Position på välkomnst rutan*/
}

.pro, h2
{
    color: #FBCA03;
}

/* GAMES */

.status {
    margin-bottom: 3rem;
}

.cards {
    height: 80%;
    overflow-y: scroll; /*Scrollbar för x antal informationskort.*/
}



.status input  {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255,255,255,0.3)
        );
    border: none;
    width: 80%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    text-align: center;
    font-size: large;
    left: 100px;
    box-shadow: 6px 6px 20px rgb(0, 0, 0);
    outline: none;
    cursor: text;        
}

.boxtext {
    font-size: 35px;
    color: #FBCA03
}

.clickbox {
    display: flex;
    flex-direction: row;
    margin: 1em;
    cursor: pointer;
}

#checkbox1,#checkbox2,#checkbox3 {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.text1,.text2,.text3 {
    font-size: 25px;
    color: antiquewhite;
    margin-left: 1em;
}

.searched {
    color: antiquewhite;
}

.games {
    flex: -2;
    margin: 5rem;
    min-width: 60%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#searchCard {
 visibility: hidden;
}

.card {
    display: flex;
    background: -moz-linear-gradient(to left top,
    rgba(255,255,255,0.2),
    (rgba(255, 255, 255, 0.5))
    );
    border-radius: 1rem;
    margin: 2rem 6rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgb(0, 0, 0);
    justify-content: space-between; /*Trycker ut bilderna till vänster och texten till höger center.*/
}
.card img {
    box-shadow: 6px 6px 90px rgb(0, 0, 0);
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
}

.card-info, p{
    color: antiquewhite;
}

footer {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(1rem);
    text-align: center;
    z-index: 100;
}
