*{
    padding: 0%;
    margin: 0%;
}

html {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #2d3436;
   background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.header {
    font-family: Georgia, sans-serif;
    font-size: 3em;
    color: rgba(255, 127, 80, 0.685);
    letter-spacing: -2px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1;
}

footer {
    width: 100%;
    text-align: center;
}