* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right top, #000000, #8b0000);
  display: flex; /* Visar lådan */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: #fbca03;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
  text-shadow: 2px 1px #ff0000;
}

h2 {
  text-align: center;
}

h2,
p {
  color: #fbca03;
  font-weight: 500;
}

h4 {
  color: #fbca03;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #8b0000;
}

.glass {
  height: 100%; /* Hur centrerad området bör vara med relation från top/bot till mitten*/
  background: white;
  width: 85%;
  background: linear-gradient(
    to right bottom,
    rgba(253, 253, 253, 0.541),
    rgba(36, 0, 0, 0.438)
  );
  z-index: 2; /* Pushar stora rutan framått, större nummer ju längre fram kommer den.*/
  backdrop-filter: blur(1rem); /* Lägger till "blurryness */
  display: flex; /*Flexar ut mina element ifrån .dashboard*/
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#button {
  position: relative;
  outline: none;
  height: 53px;
  width: 50px;
  font-size: large;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 0 2rem 2rem 0;
  border: none;
  box-shadow: 6px 6px 10px rgb(0, 0, 0);
  cursor: pointer;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  padding: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.774),
    rgba(233, 33, 33, 0.144)
  );
}

/* GAMES */

.status {
  margin-bottom: 3rem;
}

.cards {
  height: 80%;
  overflow-y: scroll; /*Scrollbar för x antal informationskort.*/
}

#topImage {
  width: 12rem;
  height: 12rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 80%;
  padding: 1rem;
  border-radius: 2rem 0 0 2rem;
  text-align: center;
  font-size: large;
  left: 100px;
  box-shadow: 6px 6px 20px rgb(0, 0, 0);
  outline: none;
  cursor: text;
}

.searched {
  color: antiquewhite;
}

.games {
  flex: -2;
  margin: 5rem;
  min-width: 60%;
  height: 81.2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#searchCard {
  visibility: hidden;
}

.card {
  display: flex;
  background: -moz-linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.2),
    (rgba(255, 255, 255, 0.5))
  );
  border-radius: 1rem;
  margin: 2rem 6rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgb(0, 0, 0);
  justify-content: space-between; /*Trycker ut bilderna till vänster och texten till höger center.*/
}
.card img {
  box-shadow: 6px 6px 90px rgb(0, 0, 0);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
  height: 10rem;
}

.cardInfo,
p {
  color: antiquewhite;
  font-size: small;
}

.cardInfo a {
  color: #fbca03;
  font-size: small;
}

.cardInfo a:visited {
  color: #fbca03;
  font-size: larger;
  text-shadow: 1px 1px #ff0000;
}
.informationHero{
    font-size: larger;
    font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(1rem);
  text-align: center;
  z-index: 100;
  font-size: small;
}
